<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mad"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mad"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessTourManagement"
        tools:targetApi="31">
        <activity
            android:name=".View.LoadScreen"
            android:exported="true">

        </activity>
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.MenuStudentActivity" />
        <activity android:name=".View.MenuAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.MenuTeacherActivity" />
    </application>

</manifest>